<br>
<div class="container">
    {{!-- Row 1 Articles --}}
    {{#each articles}}
      {{#if saved}}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 toEat">
                <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="titleloc" href={{this.link}}>{{this.title}}</a>
                    </h5>
                    <p class="card-text">{{this.summary}}</p>
                    <button type="button" class="btn btn-secondary deletebtn" data-id={{this._id}} >
                      Delete
                    </button>                    
                    <button type="button" class="btn btn-secondary viewnote" data-id={{this._id}} data-toggle="modal" data-target="#modal_{{this._id}}">
                      View Notes
                      </button>
                </div>
                </div>        
                
            </div>
            <div class="col-md-2"></div>
        </div>
        <br>

        <!-- Modal -->
        <div class="modal fade" id="modal_{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Note about {{this.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div id="notes">
                </div>
                <form>
                  <b>Add a Note</b><br>
                  Title:<br>
                  <input type="text" id="titleinput" style="width:350px;"><br>
                  Note:<br>
                  <input type="text" id="bodyinput" style="width:350px;">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
                <button type="button" class="btn btn-secondary addnote" data-id={{this._id}}>
                  Add Note
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
</div>
<br>

{{!-- Javascript --}}
<script type="text/javascript">
  // When you click the deletebtn button
  $(document).on("click", ".deletebtn", function() {
    var thisId = $(this).attr("data-id");
    // Run a POST request to change the saved value
    console.log(thisId);
    $.ajax({
      method: "POST",
      url: "/articles/saved/" + thisId,
      data: {
        saved: false
      }
    }).then(function(data) {
        location.reload();
    });
  });
// Whenever someone clicks viewnote button
$(document).on("click", ".viewnote", function() {
  
  // Grab the id associated with the article from the submit button
  var thisId = $(this).attr("data-id");
  $("#notes").empty(); 
  // Now make an ajax call for the Article
  $.ajax({
    method: "GET",
    url: "/articles/" + thisId
  })
    // With that done, add the note information to the page
    .then(function(data) {
      // If there's a note in the article
      if (data.note) {
      $("#notes").append("<h2>" + data.note.title + "</h2>");
      $("#notes").append("<p>" + data.note.body + "</p>");
      }
    });
});
// When someone clicks the savenote button
$(document).on("click", ".addnote", function() {
  // Grab the id associated with the article from the submit button
  var thisId = $(this).attr("data-id");
  var noteTitle = $("#titleinput").val();
  var bodyTitle = $("#bodyinput").val();
  // Run a POST request to change the note, using what's entered in the inputs
  $.ajax({
    method: "POST",
    url: "/articles/" + thisId,
    data: {
      title: noteTitle,
      body: bodyTitle
    }
  })
    // With that done
    .then(function(data) {
    });
  // Also, remove the values entered in the input and textarea for note entry
  $("#titleinput").val("");
  $("#bodyinput").val("");
  location.reload();
});
</script>